[Unit]
Description=Discord {{BOT_NAME}}
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User={{USER}}
WorkingDirectory=/var/lib/{{BOT_NAME}}
ExecStart=/usr/local/bin/{{BOT_NAME}}
Restart=on-failure
RestartSec=5
EnvironmentFile=/var/lib/{{BOT_NAME}}/.env

[Install]
WantedBy=multi-user.target
